<section class="main" id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-white">
          WELCOME TO UNIQUE IN AMERICA
        </h1>


      </div>

      <div class="col-md-12 text-center">
        <a class="btn btn-warning btn-lg text-center" href="#" data-value="Subscription">Subscribtion</a>&nbsp;
        <a class="btn btn-danger btn-lg text-center" href="#" data-value="register">Register</a>
      </div>


    </div>
  </div>
</section>

<section class="section1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Benefits in Billing and Collections</h2>
        <p class="text-center">Reasons why you should choose this product
        </p>
      </div>


    </div>
    <div class="row mt-5 text-center benefit">
      <div class="col-md-4">
        <img src="/assets/img/Benefits/benefits-1.png" alt="" class="img-fluid pb-3">
        <h4>Bill Payments</h4>
        <p>Bill for anything on-line, one time, monthly, bi-monthly, weekly or daily</p>
      </div>
      <div class="col-md-4">
        <img src="/assets/img/Benefits/benefits-2.png" alt="" class="img-fluid pb-3">
        <h4 class="text-center">Accept Payments</h4>
        <p>Accepts eChecks,ACH,Apple pay,Paypal and Debit or credit cards</p>
      </div>
      <div class="col-md-4">
        <img src="/assets/img/Benefits/benefits-3.png" alt="" class="img-fluid pb-3">
        <h4 class="text-center">Admin</h4>
        <p>Multi Users,Multi Payees Per Users and Send reminder bills.</p>
      </div>

    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-6 p-5">
        <h2>Bill Payments</h2>
        <ul>
          <li> Bill for anything on-line, one time, monthly, bi-monthly, weekly or daily.
          </li>
          <li> Bill students either individually or in groups
          </li>
          <li> Bill for rent individually or in a group like an entire building</li>
          <li> Mix rent in the group with different amount per tenant and different bill date per tenant</li>
          <li> Sale any commodity or product by groups or individually</li>
          <li>Attach an invoice to the bill</li>
        </ul>



      </div>
      <div class="col-md-6">
        <img src="/assets/img/Features/feature-1.png" alt="" class="img-fluid">

      </div>


    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <img src="/assets/img/Features/feature-2.png" alt="" class="img-fluid">

      </div>
      <div class="col-md-6 p-5">

        <h2>Accept Paymentss</h2>
        <ul>
          <li>eChecks.(You will be able to print a draft check)</li>
          <li>ACH. (Bank to Bank transfer)</li>
          <li>Apple pay</li>
          <li>Paypal, with an adjusted surchurge</li>
          <li>Debit or credit cards</li>
        </ul>

      </div>

    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-6 p-5">
        <h2>Admin</h2>
        <ul>
          <li>
            Multi Users
          </li>
          <li>Multi Payees Per Users.
            (One User or admin can Handle unlimited Payees)
          </li>
          <li>
            Send reminder bills.</li>
          <li>
            Apply late charges or do not apply late charge from
            the 1st of the Month as follows</li>
          <ul>
            <li>Day to start late charge</li>
            <li>Amount of late charge from start day</li>
            <li>Start day for daily late charge</li>
            <li>Amount of daily late charge</li>
          </ul>
        </ul>



      </div>
      <div class="col-md-6">
        <img src="/assets/img/Features/feature-1.png" alt="" class="img-fluid">

      </div>


    </div>
  </div>

</section>
<section class="video-section" id="video">
  <div class="container cont">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><i class="fa-regular fa-circle-play"></i></h1>
        <h3>Video Preview Of Product</h3>

      </div>
    </div>
  </div>


</section>

<section class="section1" id="Subscription">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>We Provide Flexible Plans</h2>
        <p>Free signup. 14 days free trial. No credit card required.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-4 pb-3">
        <div class="card text-center">
          <div class="card-header pt-3 pb-3">
            <strong>
              Unique Independent Module</strong>
          </div>
          <div class="card-header price pb-3">
            <sup>$</sup>
            <sub>
              1,450</sub>
          </div>

          <div class="card-body">



            <p class="card-text">Unique Independent module on our or your server with one year of updates.</p>
            <a href="#" class="btn btn-success">Buy Now</a>
          </div>

        </div>
      </div>
      <div class="col-md-4 pb-3">
        <div class="card text-center">
          <div class="card-header pt-3 pb-3">
            <strong>
              Monthly support for the above</strong>
          </div>
          <div class="card-header price pb-3">
            <sup>$</sup>
            <sub>
              49</sub>
          </div>
          <div class="card-body">

            <p class="card-text">Monthly support for the above</p>
            <br>

            <a href="#" class="btn btn-success">Buy Now</a>
          </div>

        </div>
      </div>
      <div class="col-md-4 pb-3">
        <div class="card text-center">
          <div class="card-header pt-3 pb-3">
            <strong>
              Add on an independent counsel</strong>
          </div>
          <div class="card-header price pb-3">
            <sup>$</sup>
            <sub>
              495</sub>
          </div>
          <div class="card-body">

            <p class="card-text">Add on an independent counsel to receive Tenants or customers complaint</p>
            <a href="#" class="btn btn-success">Buy Now</a>
          </div>

        </div>
      </div>
      <div class="col-md-4  pt-5">
        <div class="card text-center">
          <div class="card-header pt-3 pb-3">
            <strong>
              Buy space on your own website</strong>
          </div>
          <div class="card-header price pb-3">
            <sup>$</sup>
            <sub>
              795</sub>
          </div>
          <div class="card-body">

            <p class="card-text">Buy space on our server with your own website name with updates as they become
              available</p>
            <a href="#" class="btn btn-info">Buy Now</a>
          </div>

        </div>
      </div>
      <div class="col-md-4  pt-5">
        <div class="card text-center">
          <div class="card-header pt-3 pb-3">
            <strong>
              Management of the above</strong>
          </div>
          <div class="card-header price pb-3">
            <sup>$</sup>
            <sub>
              75</sub>
          </div>
          <div class="card-body">

            <p class="card-text">Management of the above, monthly</p>
            <br>
            <a href="#" class="btn btn-info">Buy Now</a>

          </div>

        </div>
      </div>

    </div>




  </div>

</section>
<section class="section1 color">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2> Try Launch Today!</h2>
        <p>
          Limited signup only. Order today before the discount period ends.</p>

        <a href="" class="btn btn-lg btn-light">GET STARTED</a>
        <p class="pt-4">Free signup. 14 days free trial. No credit card required.</p>
      </div>
    </div>
  </div>
</section>
<section class="section1 login-sec" id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h2>
          Login
        </h2>
        <p>Log in to access Unique in America LLC</p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card  h-100">
          <div class="row g-0">
            <div class="col-md-6 p-5 mt-5">
              <form>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                  <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                    placeholder="Username">
                  <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
            <div class="col-md-6 text-center sec-2">
              <div class="card-body  p-5 mt-5">
                <h3 class="card-title">Unique in America LLC</h3>
                <p class="card-text1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.

                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>

    </div>
  </div>
</section>
<section class="section1 reg-sec" id="register">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h2>
          Register
        </h2>
        <p>Create your account</p>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card  h-100">
          <div class="row g-0">
            <div class="col-md-12 p-5 mt-5">
              <form>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-briefcase"></i></span>
                  <input type="text" class="form-control" id="Business-Name" placeholder="Business Name" required>

                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-address-book"></i></span>
                  <input type="text" class="form-control" id="Address" placeholder="Address" required>

                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-street-view"></i></span>
                  <input type="text" class="form-control" id="Street" placeholder="Street" required>

                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-city"></i></span>
                  <input type="text" class="form-control" id="City" placeholder="City" required>

                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-location-dot"></i></span>
                  <input type="text" class="form-control" id="State" placeholder="State" required>

                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                  <input type="tel" class="form-control" id="Telephone-Number" placeholder="Telephone Number" required>

                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-at"></i></span>
                  <input type="email" class="form-control" id="Email-Address" placeholder="Email Address" required>

                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                  <input type="text" class="form-control" id="Name-Individual" placeholder="Name of Individual"
                    required>
                </div>

                <button type="submit" class="btn btn-primary">Create Account</button>
              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3"></div>


    </div>
  </div>
</section>
