<style>

</style>
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand text-white" href="#">Unique in America LLC</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" data-value="main"
            (click)="isCollapsed = !isCollapsed">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="isCollapsed = !isCollapsed">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="isCollapsed = !isCollapsed">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="isCollapsed = !isCollapsed">About Me</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" data-value="video" (click)="isCollapsed = !isCollapsed">
            Watch Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-value="login" (click)="isCollapsed = !isCollapsed"><i
              class="fa-solid fa-arrow-right-to-bracket"></i>
            Login</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown hidden>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" ngbDropdownToggle>
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
            <li><a class="dropdown-item" href="#" ngbDropdownItem>Action</a></li>
            <li><a class="dropdown-item" href="#" ngbDropdownItem> Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#" ngbDropdownItem>Contact</a></li>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>


<main>

  <router-outlet></router-outlet>
</main>
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(161, 161, 161, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="" style="text-decoration: none">Unique in America LLC</a>
  </div>
  <!-- Copyright -->
</footer>
